<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta name="viewport1" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <title>Количество машин</title>
</head>
<body>

<tr th:color="ref" th:text="${'Количество машин в списке : ' + quantity}" th:size="20" >

</tr>
<!--<p th:text="${quantity}">  </p>-->
<p></p>
<a href="http://localhost:8080/spring_mvc_war_exploded/cars">Вернуться к списку машин</a>


</body>
</html>