<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Результат фильтрации</title>
    <link rel="stylesheet" type="text/css"/>
</head>


<body>

<h1>Результат работы фильтра</h1>

<div>
    <table border="5">
        <tr>
            <th>Модель машины</th>
            <th>Год производства</th>
            <th>Мощность двигателя</th>
        </tr>
          <tr th:each="car : ${carResultPage}">
            <td th:utext="${car.getModel()}"></td>
            <td th:utext="${car.getYearOfProduction()}"></td>
            <td th:utext="${car.getEnginePower()}"></td>
            <!--            <h1 th:text="${car}"></h1>-->
          </tr>
    </table>
</div>


    <li><a href="http://localhost:8080/spring_mvc_war_exploded/cars/">Вернуться к списку машин</a></li>


</body>
</html>